/* CSS declarations go here */
body 
{
	font-family: 'Oswald', sans-serif;
	background: #e6e6e6;
	
}
p
{
	font-size:20px;
	font-family: 'Bitter', serif;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
h2
{
	font-size: 2em !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	color: #fff;
	text-shadow: 1px 1px 10px #111;
}
span
{
	opacity: 0;
}
p
{
	font-size: 10px;
}
a:link, a:visited
{
	color: #f00;
	text-decoration: none;
}
.art_image
{
	min-height: 500px;
	max-height: 600px;
	z-index: 0;
}
.unit_contentdiv:
{
	position: relative;
	bottom: 20px;
	z-index: 10;
}

}



.art_unit
{
	background: #fff;
	margin: 20px;
	font-size: 30px;
	width: 80%;
	height: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
    -webkit-transition:  all 0.4s ease;
    -o-transition:  all 0.4s ease;
    transition:  all 0.4s ease;
}
.art_unit:hover 
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.unit_imagediv
{
	height: 250px;
}
.unit_contentdiv
{
	height: 250px;
	text-align: left;
	padding: 20px 20px 20px 20px;
}
.art_image
{
	max-height: 250px;
	width: 100%;
}
.art_info>li
{
	display: inline;
}
.unit_bodydiv
{
	padding: 20px 20px 20px 20px;
}
.banner
{
	background: red;
	height:20px;
	position: absolute;
	top: 0px;
}
