/* CSS declarations go here */
body 
{
	font-family: 'Oswald', sans-serif;
	background: #e6e6e6;
	
}
p
{
	font-size:25px;
	font-family: 'Arial', serif;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
h2
{
	font-size: 2em !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	color: #fff;
	text-shadow: 1px 1px 10px #111;
}
span
{
	opacity: 0;
}
p
{
	font-size: 10px;
}
a:link, a:visited
{
	color: #f00;
	text-decoration: none;
}
.art_image
{
	min-height: 500px;
	max-height: 600px;
	z-index: 0;
}
.unit_contentdiv:
{
	position: relative;
	bottom: 20px;
	z-index: 10;
	padding: 10px 20px 10px 30px; /* top right bottom left */
}
}



.art_unit
{
	background: #fff;
	margin: 20px;
	font-size: 30px;
	width: 80%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    overflow: hidden;
    -moz-transition: all 0.75s ease-in-out;
    -webkit-transition:  all 0.75s ease-in-out;
    -o-transition:  all 0.75s ease-in-out;
    transition:  all 0.75s ease-in-out;
}
.art_unit:hover 
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.50), 0 10px 10px rgba(0,0,0,0.28);
}
.art_header
{
	background: linear-gradient(to right, #330033 , #262673);
	color: #fff;
}
.unit_imagediv
{
	height: 250px;
}
.unit_contentdiv
{
	height: 250px;
	text-align: left;
	padding: 10px 20px 10px 30px; /* top right bottom left */
}
.art_image
{
	max-height: 250px;
	width: 100%;
	height: 100%;
}
.art_info>li
{
	display: inline;
}
.unit_bodydiv
{
	text-align: left;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
}
span>a:link, span>a:visited
{
	text-decoration: none;
	color: #ff0066;
}
.banner
{
	background: red;
	height:20px;
	position: absolute;
	top: 0px;
}
footer
{
	height: 200px;
	padding: 50px 50px 50px 50px;
	background:linear-gradient(to right, #330033 , #262673);
	color: #fff;
	margin-top: 50px;
	bottom: 0px;
}




/*scroll start*/
.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: transparent;
	width: 50px;
	height: 55px;
	line-height: 55px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: transparent;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
.fa-arrow-circle-up
{
	color: #ff0066;
}
/*scroll stop*/

/*navbar*/
.navbar {
	background: rgba(0,0,0,0.8); 
	-moz-box-shadow: 1px -8px 37px #000000;
    -webkit-box-shadow: 1px -8px 37px #000000;
box-shadow: 1px -8px 37px #000000;

}
/**/
.jumbotron {
-webkit-animation: cssAnimation 5.0000s 16 linear;
-moz-animation: cssAnimation 5.0000s 16 linear;
-o-animation: cssAnimation 5.0000s 16 linear;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(10px); }
to { -webkit-transform: rotate(0deg) scale(0.467) skew(0deg) translate(7px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(10px); }
to { -moz-transform: rotate(0deg) scale(0.467) skew(0deg) translate(7px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(0deg) scale(1) skew(0deg) translate(10px); }
to { -o-transform: rotate(0deg) scale(0.467) skew(0deg) translate(7px); }
}

.ghost-button
{
	border: 5px solid #330033;
	width: 40%;
	padding: 30px 30px 30px 30px;
	margin: 20px 20px 20px 20px;
	background: transparent;
	color: #330033;
	-webkit-transition: border 1s, background 1s, color 1s, ease-in-out;
	-moz-transition: border 1s, background 1s, color 1s, ease-in-out;
	transition: border 1s, background 1s, color 1s, ease-in-out;
}
.ghost-button:hover
{
	border: 5px solid transparent;
	border-width : 5px 5px 5px 5px;
	background: linear-gradient(to right, #330033 , #262673);
	color: #fff;
	
}